version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: collabtube_postgres
    restart: always
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_USER: prisma_user
      POSTGRES_DB: medUser
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
